

<section id="FormuInscription">


<form action="">



    <label for="username">username:</label>
    <input type="username"  id="username">


    <label for="password">choisissez votre password:</label>
    <input type="password"  id="password">

<label for="email">email:</label>
    <input type="email" name="" id="email">



<label for="date de naissance">date de naissance :</label>
    <input type="date de naissance" name="" id="date de naissance">

<button type="submit"value="envoyer">envoyer</button>



</form>





</section>





