

<section id="FormuInscription">


<form [formGroup]="form" (ngSubmit)="submitData()" id="Formul"name="formulaireInscript">



    <label for="us">username:</label>
    <input type="text"formControlName="username"id="us"  >


    <label for="pw">choisissez votre password:</label>
    <input type="text" formControlName="password"id="pw" >

<label for="em">email:</label>
    <input type="text" formControlName="email"id="em">



<label for="bd">date de naissance :</label>
    <input type="text" formControlName="birthDate"id="bd">

<button type="submit"value="envoyer">envoyer</button>



</form>







</section>


<section id="MessageInscrit">
<h1 >@if(UserActuallyRegistered()){Welcome {{UserActuallyRegistered()}}  you are registered thank you   }@else{ Inscrivez-vous }   </h1>


</section>


